.jumbotron {
  padding-top: 6rem;
}

.jumbotron h1 {
  font-family: FrizQuuBol;
}

#projects {
  background-color: #e2edff;
}

.card-body {
  background-color: #aeb0b6;
}
.card-text {
  color: #fff;
}

section {
  padding-top: 5rem;
}

a {
  text-decoration: none;
}
.form-svg {
  width: 100%;
}
